@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 5rem;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 1s ease-in;
}

.panel h3 {
  font-size: 30px;
  position: absolute;
  bottom: 20%;
  left: 4rem;
  margin: 0;
  opacity: 0;
  font-family: "Lora", serif;
  letter-spacing: 0.1rem;
}

.panel p {
  font-size: 15px;
  position: absolute;
  bottom: 10%;
  left: 4rem;
  right: 8rem;
  opacity: 0;
  letter-spacing: 0.1rem;
}

.panel.active {
  flex: 5;
}

.panel.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.7091211484593838) 90%,
    rgba(19, 19, 19, 1) 100%
  );
}

.panel.active h3 {
  opacity: 1;
  transition: all ease-in 3s;
  z-index: 1;
}

.panel.active p {
  opacity: 1;
  transition: all ease-in 3s;
  z-index: 1;
}

/* Mobile and tablet view */
@media (max-width: 768px) {
  .container {
    width: 100vw;
  }

  /* Removes the 4th and 5th panel in mobile view */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }

  .panel p {
    text-align: center;
    left: 0rem;
    right: 0rem;
    padding: 1rem;
  }

  .panel h3 {
    text-align: center;
    bottom: 50%;
    left: 0rem;
    padding: 1rem;
  }
}
